<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>메인페이지</h1>
		 <div>섹션아이디 : ${session_id }</div>
		 <div>섹션이름 : ${session_name } 님 환영합니다.</div>
		 <ul>
			   <li><a href="/memInfo?id=aaa">회원정보</a></li>
			   <li><a href="/mlist">회원리스트</a></li>
			   <li><a href="/member">회원가입</a></li>
			   <li><a href="/login">로그인</a></li>
			   <li><a href="/blist">게시판</a></li>
			   <li><a href="/member/logout">로그아웃</a></li>
			   <li><a href="/board/bwrite">글쓰기</a></li>
			   <hr>
			   <li><a href="/board/bview?bno=2">게시글보기</a></li>
		 </ul>
	
	</body>
</html>