<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>회원정보수정</title>
	</head>
	<body>
	  <h2>회원정보수정</h2>
	  <form action="memUpdate" method="post">
	    <label>아이디</label>
	    <input type="text" name="id" th:value="${mdto.id}" readonly><br/>
	    <label>패스워드</label>
	    <input type="text" name="pw" th:value="${mdto.pw }"><br/>
	    <label>이름</label>
	    <input type="text" name="name" th:value="${mdto.name}"><br/>
	    <label>전화번호</label>
	    <input type="text" name="phone" th:value="${mdto.phone }"><br/>
	    <label>성별</label><br/>
	    <input type="radio" id="man" name="gender" value="남자" th:checked="${#strings.contains(mdto.gender,'남자')}">
	    <label for="man">남자</label>
	    <input type="radio" id="woman" name="gender" value="여자" th:checked="${#strings.contains(mdto.gender,'여자')}">
	    <label for="woman">여자</label>
	    <br/>
	    <label>취미</label><br/>
	    <input type="checkbox" id="game" name="hobby" value="게임" th:checked="${#strings.contains(mdto.hobby,'게임')}">
	    <label for="game">게임</label>
	    <input type="checkbox" id="golf" name="hobby" value="골프" th:checked="${#strings.contains(mdto.hobby,'골프')}">
	    <label for="golf">골프</label>
	    <input type="checkbox" id="swim" name="hobby" value="수영" th:checked="${#strings.contains(mdto.hobby,'수영')}">
	    <label for="swim">수영</label>
	    <input type="checkbox" id="run" name="hobby" value="조깅" th:checked="${#strings.contains(mdto.hobby,'조깅')}">
	    <label for="run">조깅</label>
	    <input type="checkbox" id="book" name="hobby" value="독서" th:checked="${#strings.contains(mdto.hobby,'독서')}">
	    <label for="book">독서</label>
	    <br/>
	    <input type="submit" value="회원정보수정">
	  </form>
	  
	  <div><a href="/">메인페이지 이동</a></div>
	
	</body>
</html>